# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/jupyter/runtime/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written into a _MEIPASS folder in the "onefile"
#  deployment mode
_MEIPASS/

# Spyder project
.spyderproject
.spyproject

# Environments
.env
.venv
.venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Temp files
*.tmp
*.swp
*.bak
*.log

# IDE-specific
.idea/  # PyCharm
.vscode/ # VS Code

# OS-specific
.DS_Store       # macOS
